@use "sass:math";

@import "~nhsuk-frontend/packages/core/tools/_typography.scss";
@import "~nhsuk-frontend/packages/core/tools/_sass-mq.scss";
@import "~nhsuk-frontend/packages/core/settings/_colours.scss";
@import "~nhsuk-frontend/packages/core/settings/_globals.scss";
@import "~nhsuk-frontend/packages/core/settings/_typography.scss";

.app-mini-profile-header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 1.1875rem;
  line-height: 1.47368;
  color: $nhsuk-secondary-text-color;
}

.app-mini-profile-header dl {
  margin: 0;
  margin-right: 32px;
}

.app-mini-profile-header dl:last-child {
  margin-right: 0;
}

.app-mini-profile-header dd {
  margin-bottom: 0;
  margin-left: 0;
}

.app-mini-profile-header dt,
.app-mini-profile-header dd {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.app-mini-profile-header dt {
  font-weight: bold;
  margin-right: 8px;
}

@include mq($until: tablet) {
  .app-mini-profile-header {
    display: block;
  }

  .app-mini-profile-header dl {
    margin-right: 0;
  }

  .app-mini-profile-header dl:last-child {
    margin-bottom: 0;
  }

  .app-mini-profile-header dl:last-child dd {
    margin-bottom: 0;
  }
}
